    <div class="editor"s> 
        <input id="url-input" type="url" name="linkUrl" placeholder="url"/>
        <button disabled="disabled" id="save" class="btn">Save</button>
        <br/>
        <div>
         <input type="text" id="title" name="linkTitle" placeholder="title"  />
        <input type="text" name="linkTags"  id="tags" placeholder="tags" />
        </div>
    </div>
