<div class="span2" id="tag-container" style="padding: 0px 12px;"></div>
<div class="span10">
    <div class="row-fluid" id="form-container">
    </div>
    <div class="row-fluid" id="filter-container">
    </div>
    <div class="row-fluid" id="links-container">
    </div>
</div>
