<form name="linkForm">
    <div class="editor" ng-class="{error:linkForm.title.invalid}">
        <input id="url-input" type="url" name="linkUrl" ng-model="link.url" placeholder="url" required/>
        <button ng-click="save()" class="btn" ng-disabled="linkForm.$invalid" >
            Save
        </button>
        <span ng-show="linkForm.url.$error.url" class="inline-help">invalid url</span>
        <br/>
        <div>
            <input type="text" name="linkTitle" ng-model="link.title" placeholder="title"  />
            <input type="text" name="linkTags" ng-model="link.tags" id="tags" placeholder="tags" />
        </div>
    </div>
</form>
<span id="tag-filter" ng-model="tagFilter">{{tagFilter}}</span>
<table  class="linksy-link-table">
    <tr ng-repeat="link in links | orderBy:link.url" >
        <td style="width: 50px;"><div class="linksy-link-img" style="background: url({{link.img}}) no-repeat center center;"></div></td>
        <td><a href="{{link.url}}" >{{link.title}}</a></td>
        <td> ( <span ng-repeat="tag in link.tags">{{tag}} </span>) </td>
        <td><a ng-click="destroy()"  class="remove-link"><i class="icon-remove icon-large"></i></a></td>
        <td><a ng-click="edit()"  class="edit-link"><i class="icon-edit icon-large"></i></a></td>
    </tr>
</table>